*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.header{
    background-color: white; 
    padding: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;


}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #4e9805;

}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;

}
.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero{
    background-color: #49b96e;
    color: white;
    text-align: center;
    padding: 100px 20px;
    background-image: linear-gradient(45deg, #4ade80, #86efac); 
}

.hero-content h1{
    font-size: 40px;
    margin-bottom: 20px;

}
.hero-content p{
    font-size: 20px;
    margin-bottom: 40px;
}
.btn{
    background-color:#49b96e;
    color: white;
    padding: 12px 30px;  
    border: 2px solid white;
    border-radius: 25px;  
    cursor: pointer;
    transition: all 0.3s ease;  
    font-size: 16px;
    font-weight: bold;  
}
.btn:hover{
    background-color: white;
    color: #3e6f0c;
    transform: scale(1.05);  
}
.features{
    text-align: center;
    margin: 40px 0;

}
.feature-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 13px;
    max-width: 1200px;
    margin: 40px auto;

}
.feature-card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    padding: 30px; 
    border-radius: 10px; 
    transition: transform 0.3s ease;  
}
.feature-card:hover{
    transform: translateY(-5px);  
}
.feature-card i{
    font-size: 40px;
    color: #49b96e;
    margin-bottom: 10px; 
  
}
.download{
    text-align: center;
    padding: 40px 20px;
}
.download-buttons{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;  
    flex-wrap: wrap; 
}


.download .btn {
    background-color:#49b96e;
    color: white;
    padding: 12px 30px;
    border: 2px solid #49b96e;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: bold;
}

.download .btn:hover {
    background-color: #49b96e;
    color: white;
    border-color: #49b96e;
    transform: scale(1.05);
}

.footer{
    color: white;
    background-color: #222;  
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}
@media (max-width: 768px) {

	.nav-links {

    		display: none;

	}

}